﻿html.fssopen, html.fssopen body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
}
section {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    overflow: hidden;
    position: fixed;
}

div.slidewrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
div.slide {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
}


.screen {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

#welcome {background-image: url(./images/libg3.jpg)}
.company {position:absolute;width:100%;height:310px;top:50%;margin-top:-155px}
.company h2 {font-size:62px;color:#175b9f}
.company h3 {font-size:28px;color:#2196F3}
.company h4 {font-size:36px;color:#ffffff;margin-top:2vw}
.company h5 a {font-size:14px;color:#019ee4;background:url(style/banner1_h5.png) no-repeat center;display:block;line-height:28px;margin-top:72px;}
@media (max-width:780px) {
    .company h2 {font-size:7.8vw;}
    .company h3 {font-size:3.8vw;}
    .company h4 {font-size:4.5vw;}
}


#service {background-image:url(images/nut.jpg)}
.server ul {height:100%;}
.server ul li {float:left;height:100%;color:#fff;text-align:center;width:20%;box-sizing:border-box;padding:0 2%;color:#009ee4;position:relative;}
.server ul li > img {position:absolute;left:0;right:0;margin:auto;width:80%;bottom:-100%;transition:bottom 1s .2s;}
.server .server_mask {position:absolute;width:100%;height:0;left:0;bottom:0;background:rgba(43,143,241,0.8)}
.server .server_cont {position:relative;top:40%;z-index:1;}
.server .server_img {border-radius:100%;border:2px solid #009ee4;width:130px;height:130px;margin:0 auto;position:relative;top:12px;transition:border-color 1s,top .5s;}
.server .server_img img {width:90px;height:80px;margin-top:28px;position:relative;}
.server .server_title {padding:23px 0 25px 0;font-size:16px;transition:top .5s;position:relative;top:0;}
.server .server_intro {line-height:24px;transition:all .8s .2s;opacity:0;color:#fff;position:relative;bottom:-150px;min-height:36px}
.server li .hid {display:none}
.server li:hover > .server_mask {transition: height 0.5s ease 0s;height: 100%;}
.server li:hover > img {bottom:0;}
.server li.active,.server li:hover {color:#fff;transition:color 1s;}
.server li.active .server_img,.server li:hover .server_img {border-color:#fff;top:-60px;}
.server li:hover .server_title {top:-60px;}
.server li:hover .server_intro {opacity:1;bottom:40px;}
.server li:hover .sho {display:none}
.server li:hover .hid {display:inline-block;animation:plays 1s .5s linear infinite both;position:relative;}
@media (max-width:780px) {
    .server ul {padding-top:70px;}
    .server ul li {height:auto;width:100%;padding:5px 40px;}
    .server ul li>img {display:none;}
    .server .server_img {float:left;height:80px;width:80px;}
    .server .server_img img {width:60px;height:50px;margin-top:18px;}
    .server .server_title {padding-left:110px;text-align:left;font-size:18px;top:12px;}
    .server .server_intro {padding-left:110px;text-align:left;line-height:18px;top:-27px;}
    .server li:hover .server_img {top:12px;}
    .server li:hover .server_title {top:-5px;}
}



#case {background-image: url(./images/num3_bg.jpg); padding-top: 66px;}
.case {text-align:center;}
.case-top {text-align:right;}
.case-top-left {display:inline-block;}
.case-top-left-top {font-size:42px;}
.case-top-left-middle {font-size:14px;}
.case-top-left-bottom {font-size:32px;}
.case-top-right {display:inline-block;font-size:160px;color:#337eeb;}
.case-top-right sup {position:relative;top:-30px}
.case-list {position:absolute;width:100%;left:0;bottom:20%}
.case-item {display:inline-block;margin:0 10px 10px 10px;background:#fff;text-align:left;perspective:100px;transform:translateY(0px) translateZ(0px) rotateX(0deg);opacity:1;transition:transform 1s ease,opacity 1.5s ease;}
.case-item a {position:relative;display:block;overflow:hidden;margin:0;}
.case-item a .show {background:rgba(0,0,0,0.8) url(icons.png) no-repeat center 40%;transition:all .3s ease-in-out;width:100%;height:100%;position:absolute;left:0;top:0;margin-top:-100%;}
.case-item a > img {width:340px;height:200px;}
.case-item .auto {padding:10px 20px;position:relative;font-size:12px;}
.case-item .auto h4 {transition:all .3s ease-in-out;font-weight:normal;font-size:16px;color:#222;line-height:26px;position:relative;z-index:2}
.case-item .auto span {color:#727272;transition:all .3s ease-in-out;position:relative;z-index:2;display:block}
.case-item .auto_mask {transition:all .3s ease-in-out;width:100%;height:100%;background:#3f9bfb;margin-top:100%;position:absolute;left:0;top:0;z-index:1}
.case-item:hover .show {margin-top:0;}
.case-item:hover .auto h4 {color:#fff;}
.case-item:hover .auto span {color:#fff;}
.case-item:hover .auto_mask {margin-top:0;}
.case-bottm {position:absolute;bottom:9%;left:50%;margin-left:-30px;width:60px;height:60px;animation:case 1s linear infinite both;background:url(mouse.png) no-repeat center;background-size:cover;cursor:pointer;}
.case-bottm:hover {background-image:url(mouse1.png)}
@media (max-width:780px) {
    .case-top{display:none}
    .case-list {
        top: 80px;
        bottom: 0;
        padding-bottom: 20px;
        overflow-x: auto
    }
    .case-item a > img {width:272px;height:160px;}
    .case-item .auto {
        width: 100%;
        bottom: 0;
        padding: 5px 0;
        position: absolute;
        background-color: rgba(0,0,0,0.6);
    }
    .case-item .auto h4 {text-indent:10px;color:#fff;}
    .case-item .auto span {text-indent:10px;color:#fff;}
    .case-item .auto_mask { display:none}
    .case-bottm {display:none}
}



#news {background-image: url(./images/num5_bg.jpg)}
#news .news {width:100%;height:100%;padding-top:68px;background:rgba(0,0,0,0.4);}
#news .news-cont {height:100%;width:1000px;margin:0 auto;text-align:left;position:relative;}
#news .title {padding:3% 0;text-align:right;}
.news-list {width:70%;display:inline-block;position:absolute;left:0;bottom:20%;margin-left:-35%;left:50%;}
.news-list img {float:left;transition:all 1s ease,opacity 1.5s ease;width:100%;}
.news-list a {display:block;float:left;position:relative;overflow:hidden;}
.news-list a:nth-of-type(1) {width:50%;}
.news-list a:nth-of-type(2),.news-list a:nth-of-type(3),.news-list a:nth-of-type(4),.news-list a:nth-of-type(5) {width:25%;}
.news-list a div {opacity:0;position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);transition:all .5s;color:#fff;padding:5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:left}
.news-list a:hover div {opacity:1;}
@media (max-width:780px) {
    #news .news-cont {width:340px;}
    #news .news-list {width:80%;margin-left:-40%}
    #news .news-list a {width:50% !important;}
    #news .news-list a div {opacity:1;}
    #news .news-list a:nth-of-type(1) {width:100% !important;}
}


#contact {background-image: url(./images/num7_bg.jpg)}
#contact .contact {width:100%;height:100%;padding-top:68px;background:rgba(0,0,0,0.4);}
#contact .cont-cont {height:100%;width:1000px;margin:0 auto;text-align:left;position:relative;}
#contact .title {padding:3% 0;text-align:left;}
#contact .address,.email {margin-top:20px;}
#contact .connect {margin-top:60px;}
#contact .connect img,#contact .address img,#contact .email img {padding-right:10px;}
#contact .connect img,#contact .connect div,#contact .address img,#contact .address div,#contact .email img,#contact .email div {vertical-align:middle;display:inline-block;line-height:24px;font-size:16px}
#contact .connect div, #contact .address img, #contact .address div, #contact .email img, #contact .email div {max-width:240px;}
#contact .connect,#contact .address,#contact .email {position:relative;transition:all 1s linear;}
#contact .cont-left {width:40%;display:inline-block;vertical-align:top;}
#contact .cont-right {vertical-align:top;height:520px;position:absolute;right:0;top:102px;}
#contact .cont-bottom {bottom:20px;position:absolute;width:100%;text-align:center;color:#868e94}
#contact .cont-bottom a{color:#868e94}
#contact .cont-bottom a:hover{color:#ffffff}
@media (max-width:780px) {
    #contact .cont-cont {width:340px;}
    #contact .cont-left {width:100%;}
    #contact .cont-right {display:none}
}
