﻿@charset "utf-8";
html {}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {font-family:"微软雅黑";font-size:14px;color:#000000;word-wrap:break-word;behavior:url("csshover.htc");-webkit-font-smoothing:antialiased;}
button,input,select,textarea {font:14px/1.5 Arial,"宋体",Helvetica,Verdana,sans-serif;word-wrap:break-word;color:#565756;}
ul,li {list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
img {border:none;border:0;vertical-align:middle;}
a {text-decoration:none;outline:none;}
p {margin:0;padding:0;}
input,select,textarea {vertical-align:middle;*font-size:100%;}
input {margin:0;outline:none;padding:0;}
input::-ms-clear {display:none;}
.width_1000 {width:1000px;margin:0 auto;}
.width_1200 {width:1200px;margin:0 auto;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {*zoom:1}
.ddw {position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999;}
.ddw2 {position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999;}
.mask {background:rgba(0,0,0,0.5);width:100%;height:100%}


.header {font-size:16px;line-height:30px;height:66px;background:#fff;color:#444444;position:absolute;width:100%;z-index:22;transition:background 0.8s linear;}
.header ul {overflow:hidden;text-align:center;margin-top:18px;}
.header ul li {margin:0 20px;display:inline-block;font-size:0;height:30px;overflow:hidden;}
.header ul li:last-child {margin-right:0}
.header ul li a {display:block;color:inherit;font-size:16px;cursor:pointer;}
.header ul li a.active,.header ul li a:hover {color:#175b9f;margin-top:-30px;transition: margin-top 0.5s ease 0s;}
.logo {position:absolute;width:230px;height:100%;font-size:0;background:url(logob.png) 15px center no-repeat;background-size:200px}
.hotline {position:absolute;width:200px;line-height:66px;background:url(telb.svg) left center no-repeat;right:0;top:0px;color:#175b9f;font-size:20px;font-weight:bolder;background-size:28px;text-indent:32px}
.header.movedown {background:rgba(0,0,0,0.4);color:#ffffff;}
.header.movedown .hotline {color: #fff;background-image: url(telw.svg)}
.header.movedown .logo {background-image: url(logow.png)}
.navbox {
    width:24px;
    height:100%;
    display: none;
    background: url(menu.svg?v=1) no-repeat left center;
    background-size: 24px;
    position: absolute;
    right: 24px;
    top: 0;
}

/*响应整体布局*/
@media (max-width:780px) {
    .header {background:rgba(0,0,0,0.4);color:#ffffff;}
    .header .hotline {color: #fff;background-image: url(telw.svg)}
    .header .logo {background-image: url(logow.png)}
    .header ul {width:80px;background:#3a3a3a;position:fixed;top:-100%;right:0;transition:all 0.2s linear;padding-top:50px;margin-top:0;}
    .header ul li a {color:#ccc;font-size:15px;letter-spacing:2px;}
    .header ul li {margin:5px 0;display: block;}
    .hotline {display:none}
    .navbox {display:block;}
}