﻿<!DOCTYPE html>
<html lang="zh">
<head>
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="x5-page-mode" content="app" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="browsermode" content="application" />
    <meta name="screen-orientation" content="portrait" />
    <link href="@ViewBag.Assets/style.css?@ViewBag.ResVersion" rel="stylesheet" type="text/css" />
    <script>var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?2d36d35e0ca4baaa89a4967c7412582d"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();</script>
    <script src="@ViewBag.Assets/jquery-1.8.2.min.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="header" id="header">
        <a href="/" class="logo">@Html.Raw(ViewBag.Title)</a>
        <ul>
            <li><a href="javascript:toNav(0)" class="active">返回首页<br /><span>首页</span></a></li>
            <li><a href="javascript:toNav(1)">服务项目<br /><span>服务项目</span></a></li>
            <li><a href="javascript:toNav(2)">客户案例<br /><span>客户案例</span></a></li>
            <li><a href="javascript:toNav(3)">新闻动态<br /><span>新闻动态</span></a></li>
            <li><a href="javascript:toNav(4)">联系方式<br /><span>联系方式</span></a></li>
        </ul>
        <div class="hotline">023-88256732</div>
        <div class="navbox"></div>
    </div>
    @RenderSection("body", false)
    <script type="text/javascript">
        $('.navbox').toggle(() => { $('.header ul').css('top', '0') }, () => { $('.header ul').css('top', '-100%') })
        function toNav(i) {
            if (fss) {
                fss.slideTo(i, true)
                $('.navbox').click()
            } else {
                location.href = '/#slide' + i
            }
        }
    </script>
    @RenderSection("script", false)
</body>
</html>