﻿<!-- banner区 -->
<div class="banner">
    <img src="/img/back1_02.png" alt="">
</div>
<!-- banner区 end-->
<!-- 联系方式 -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center contact-title">
                <p class="contact-p">联系方式&nbsp;&nbsp;|  <small class="text-left">How to contact us</small></p>
                <p>我们欢迎您的来电或Q密</p>
                <p>如果你在使用过程中遇到了任何问题或有什么建议信息都可以向我们提出，我们对此表示万分感谢。</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="text-left contact-p contact-p2"><img src="/img/contact_icon1.png" alt="">&nbsp;&nbsp;商务合作</p>
                    <p class="text-left">谢超逸（执行总监）</p>
                    <p class="text-left">ＱＱ：63380609</p>
                    <p class="text-left">手机：18623107751</p>
                    <p class="text-left">E-mail：xcy@wlniao.com</p>
                    <p class="text-left">电话：023-88256732</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="text-left contact-p contact-p2"><img src="/img/contact_icon2.png" alt="">&nbsp;&nbsp;业务洽谈</p>
                    <p class="text-left">李洪建</p>
                    <p class="text-left">ＱＱ：99614458</p>
                    <p class="text-left">手机：18883311117</p>
                    <p class="text-left">E-mail：lhj@wlniao.com</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="text-left contact-p contact-p2"><img src="/img/contact_icon3.png" alt="">&nbsp;&nbsp;技术支持</p>
                    <p class="text-left">雷海燕</p>
                    <p class="text-left">ＱＱ：443826636</p>
                    <p class="text-left">手机：18680714751</p>
                    <p class="text-left">E-mail：lhy@wlniao.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 联系方式end -->
<!-- 在线留言 -->
<div class="liuyan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center contact-title">
                <p class="liuyan-p">在线留言&nbsp;&nbsp;|  <small class="text-left">Welcome to our message, we will deal with first time</small></p>
                <p>欢迎您给我们留言，我们会在第一时间处理。</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 liuyan-input">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="input1" class="col-sm-2 control-label input-left">称呼*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input2" class="col-sm-2 control-label input-left">公司</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input3" class="col-sm-2 control-label input-left">QQ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input4" class="col-sm-2 control-label input-left">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input5" class="col-sm-2 control-label input-left">消息*</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="8" id="input5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-xs-0"></div>
                            <div class="col-sm-10 liuyan-sub">
                                <button type="button" class="btn btn-primary btn-lg active">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 在线留言end -->