﻿@{Layout = "_master.cshtml";}
@section head{
    <link href="@ViewBag.Assets/home.css?@ViewBag.ResVersion" rel="stylesheet" type="text/css" />
    <script src="@ViewBag.Assets/jquery.mousewheel.min.js"></script>
    <script src="@ViewBag.Assets/ddfullscreenslider.js"></script>
}
@section body{
    <section id="dowebok" class="dd_fullscreenslider">
        <div class="slidewrapper">
            <div class="slide">
                <div class="screen" id="welcome">
                    <div class="company">
                        <hgroup>
                            <h2><span>企业信息化服务专家</span></h2>
                            <h3><span>Eming Technology Co., LTD</span></h3>
                            <h4><span>IT安全 - 数据分析 - 业务集成 - APP定制开发</span></h4>
                            <h5><a href="#slide1">更多</a></h5>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="screen server" id="service">
                    <ul class="server_ul">
                        <li>
                            <div class="server_cont">
                                <div class="server_img server_img1">
                                    <img src="@ViewBag.Assets/images/diannao1.png" alt="" class="sho" />
                                    <img src="@ViewBag.Assets/images/diannao.png" alt="" class="hid" />
                                </div>
                                <p class="server_title">流程规划</p>
                                <div class="server_intro">业务场景覆盖，提高效率、事半功倍。</div>
                            </div>
                            <div class="server_mask"></div>
                            <img src="@ViewBag.Assets/images/serv1.png" alt="" />
                        </li>
                        <li>
                            <div class="server_cont">
                                <div class="server_img server_img2">
                                    <img src="@ViewBag.Assets/images/weixin.png" alt="" class="sho" />
                                    <img src="@ViewBag.Assets/images/weixin1.png" alt="" class="hid" />
                                </div>
                                <p class="server_title">应用定制</p>
                                <div class="server_intro">基于钉钉、微信，开发客户私有办公应用</div>
                            </div>
                            <div class="server_mask"></div>
                            <img src="@ViewBag.Assets/images/serv2.png" alt="" />
                        </li>
                        <li>
                            <div class="server_cont">
                                <div class="server_img server_img3">
                                    <img src="@ViewBag.Assets/images/pingban.png" alt="" class="sho" />
                                    <img src="@ViewBag.Assets/images/pingban1.png" alt="" class="hid" />
                                </div>
                                <p class="server_title">报表分析</p>
                                <div class="server_intro">分析ERP系统数据，多端共享报表数据</div>
                            </div>
                            <div class="server_mask"></div>
                            <img src="@ViewBag.Assets/images/serv3.png" alt="" />
                        </li>
                        <li>
                            <div class="server_cont">
                                <div class="server_img">
                                    <img src="@ViewBag.Assets/images/dp.png" alt="" class="sho" />
                                    <img src="@ViewBag.Assets/images/dp1.png" alt="" class="hid" />
                                </div>
                                <p class="server_title">数据安全</p>
                                <div class="server_intro">加密、备份、防篡改，为客户数据提供保驾护航</div>
                            </div>
                            <div class="server_mask"></div>
                            <img src="@ViewBag.Assets/images/serv4.png" alt="" />
                        </li>
                        <li>
                            <div class="server_cont">
                                <div class="server_img">
                                    <img src="@ViewBag.Assets/images/vip.png" alt="" class="sho" />
                                    <img src="@ViewBag.Assets/images/vip1.png" alt="" class="hid" />
                                </div>
                                <p class="server_title">VI设计</p>
                                <div class="server_intro">LOGO/VI/画册/海报设计，为您 的品牌不懈努力。</div>
                            </div>
                            <div class="server_mask"></div>
                            <img src="@ViewBag.Assets/images/serv5.png" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slide">
                <div class="screen" id="case">
                    <div class="case">
                        <div class="case-top width_1000">
                            <div class="case-top-left">
                                <p class="case-top-left-top">Our Works</p>
                                <p class="case-top-left-bottom">有追求，有坚持</p>
                            </div>
                            <div class="case-top-right">
                                <span id="tally">0</span><sup>+</sup>
                            </div>
                        </div>
                        <div class="case-list">
                            <div class="case-item">
                                <a href="">
                                    <div class="show"></div>
                                    <img src="@ViewBag.Assets/images/case01.jpg" alt="" />
                                    <div class="auto">
                                        <h4>华岩就业创业中心服务平台</h4>
                                        <span>扫码登记、一键呼叫、自动生成报表、钉钉集成</span>
                                        <div class="auto_mask"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="case-item">
                                <a href="">
                                    <div class="show"></div>
                                    <img src="@ViewBag.Assets/images/case02.jpg" alt="" />
                                    <div class="auto">
                                        <h4>海汀顿幼儿园家长问卷系统</h4>
                                        <span>多维度统计，班级、园所得分支持横向对比</span>
                                        <div class="auto_mask"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="case-item">
                                <a href="">
                                    <div class="show"></div>
                                    <img src="@ViewBag.Assets/images/case03.jpg" alt="" />
                                    <div class="auto">
                                        <h4>九龙坡中医院微信、支付宝</h4>
                                        <span>在线挂号、缴费、查询报告、申领电子健康卡</span>
                                        <div class="auto_mask"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="case-bottm">
                            <a href="list-case.html" style="display:block;width:100%;height:100%;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="screen" id="news">
                    <div class="news">
                        <div class="news-cont">
                            <div class="title">
                                <img src="@ViewBag.Assets/news.png" alt="" />
                            </div>
                        </div>
                        <div class="news-list">
                            <a href="list-news.html">
                                <img src="@ViewBag.Assets/images/news1.jpg" alt="" />
                                <div>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</div>
                            </a>
                            <a href="list-news.html">
                                <img src="@ViewBag.Assets/images/news2.jpg" alt="" />
                                <div>新闻标题新闻标题新闻标题新闻标题新闻标题</div>
                            </a>
                            <a href="list-news.html">
                                <img src="@ViewBag.Assets/images/news3.jpg" alt="" />
                                <div>新闻标题</div>
                            </a>
                            <a href="list-news.html">
                                <img src="@ViewBag.Assets/images/news4.jpg" alt="" />
                                <div>新闻标题</div>
                            </a>
                            <a href="list-news.html">
                                <img src="@ViewBag.Assets/images/news5.jpg" alt="" />
                                <div>新闻标题</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="screen" id="contact">
                    <div class="contact">
                        <div class="cont-cont">
                            <div class="title">
                                <img src="@ViewBag.Assets/contact.png" alt="" />
                            </div>
                            <div class="cont-left">
                                <div class="connect">
                                    <img src="@ViewBag.Assets/connect.png" alt="" />
                                    <div>电话<br />023-88256732</div>
                                </div>
                                <div class="address">
                                    <img src="@ViewBag.Assets/address.png" alt="" />
                                    <div>地址<br />重庆市沙坪坝区大学城南路22号5栋14-3</div>
                                </div>
                                <div class="email">
                                    <img src="@ViewBag.Assets/email.png" alt="" />
                                    <div>邮箱<br />wlniao@qq.com</div>
                                </div>
                            </div>
                            <img src="@ViewBag.Assets/map.png?v=2" alt="" class="cont-right" />
                        </div>
                        <div class="cont-bottom">
                            <span>©2014 重庆以名科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">渝ICP备15013174号</a></span>
                            <span><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50009802000722"><img src="/eming_v1/beian.png" />渝公网安备 50009802000722号</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section script{
    <script type="text/javascript">
        var fss;
        var tally = 0;
        var width = document.body.offsetWidth;
        $(function () {
            fss = new ddfullscreenslider({
                sliderid: 'dowebok', onslide: function ($slide, index) {
                    if (index > 0) {
                        $('#header').addClass('movedown')
                    } else {
                        $('#header').removeClass('movedown')
                    }
                    $('.header ul li a.active').removeClass('active')
                    $('.header ul li:eq(' + index + ') a').addClass('active')
                    if (width < 780) {
                        $('.header ul li:eq(0)').css('display', 'block')
                        switch (index) {
                            case 1: document.title = '服务项目'; break;
                            case 2: document.title = '客户案例'; break;
                            case 3: document.title = '新闻动态'; break;
                            case 4: document.title = '联系方式'; break;
                            default: {
                                document.title = '以名科技';
                                $('.header ul li:eq(0)').css('display', 'none')
                            }                                
                        }
                    }
                }
            })
            let total = 1532;
            let elTally = document.getElementById('tally');
            let timer = setInterval(() => {
                if (tally < total) {
                    tally += 35;
                } else {
                    tally = total
                    clearInterval(timer)
                }
                elTally.innerText = tally
            }, 40);
        });
    </script>
}